<link rel="stylesheet" type="text/css" href="../css/styles.css"/>
<title>Tweetful</title>

<header class="masthead"> 
 <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
  <section class="info">  
    <header>
      <h2>Peter Lonestar</h2>
      <h3>Founder</h3>
    </header>
    <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
  </section>

  <section class="info">  
    <header>
      <h2>Bill Billerson</h2>
      <h3>CFO</h3>
    </header>
    <p>
    Cros mattic consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consectetur est at labortis.
    </p>
  </section>

  <section class="info">  
    <header>
      <h2>Riduan Chitty</h2>
      <h3>CTO</h3>
    </header>
    <p>
    Vivamus sagitis lacus vel augue laoreet rutrum faucibus dolor auctor. Aeneon lacinia bibendum nulla sed consectetur. Morbi leo risus, porta
    </p>
  </section>
</div>

<footer>
</footer>