body
{
	background-color: #99CCFF;
}
.masthead 
{
  padding: 0;
  text-align: center;
  font-family: cursive;
}

.masthead-heading 
{
  margin: 0;
  font-size: 8em;
}

.masthead-intro 
{
  margin-top: -0.2em;
  font-size: 3.5em;
}

.info-container 
{
  text-align:center;
  padding: 2em 2em 0;
}

.info 
{
  vertical-align:top;
  display:inline-block;
  width: 30%;
  padding: 0 3em;
  box-sizing: border-box;
  text-align: center;
}

.info h2 
{
  font-size: 3.5em;
  margin: 0 auto;
  padding-bottom: 0.8em;
}

.info h3 
{
	font-size: 2em;
	margin-top:-1.5em;
}

.info p 
{
	text-align: left;
	font-size: 1.5em;
}
