table
{
	width:100%;
	box-sizing: border-box;
}

table td
{
		border: 1px solid black;
}

.section
{
	padding: 30px !important;
	margin-top: 30px;
	border: 1px solid black;
}

.marginTop30
{
		margin-top: 30px !important;
}

#logo
{
	width: 75%;
	text-align: center;
}

#smileyface
{
	width: 25%;
}

.word
{
	min-width: 1em;
	background-color: yellow;
}

.errorSection
{
	text-align: center;
	font-size: 1.2em;
	color: red;
}

.errorSection.ng-show
{
	opacity: 1;
}

.errorSection.ng-hide
{
	opacity: 0;
}

.errorSection.ng-hide-add, .errorSection.ng-hide-remove
{
		transition: all linear 1s;
}

.error.ng-show
{
  line-height: 20px;
  opacity: 1;
}

.error.ng-hide
{
  line-height: 0;
  opacity: 0;
}

.error.ng-hide-add, .error.ng-hide-remove
{
  transition: all linear 0.5s;
}

.section.ng-show
{
	opacity: 1;
}

.section.ng-hide
{
	opacity: 0;
}

.section.ng-hide-add, .section.ng-hide-remove
{
	transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
